@font-face {
	font-family: 'Poppins SemiBold';
	src: url(./css/fonts/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: 'Poppins';
	src: url(./css/fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins ExtraBold';
	src: url(./css/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
	font-family: 'font-awesome-brands';
	src: url(./css/fonts/font-awesome-brands.OTF);
}
