a {
  text-decoration: none; 
}
.nav-title {
  font-family: 'Poppins ExtraBold';
  color: #161616;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 1.2em;
  span {
    font-family: 'Poppins';
    font-style: italic;
    text-transform: none;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins SemiBold';
  text-transform: uppercase;
  margin: 2vh 3vw;
  a {
    margin: 0 10px;
    font-size: 0.7em;
    color: #161616;
    transition: color 0.5s;
    &:hover {
      color: #3239FF;
    }
  }
  .logo-nav {
    width: 5em;
    height: 5em;
  }
  .fa-behance {
    font-family: "font-awesome-brands"; 
    content: "\f1b4";
    font-weight: 400;

  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.5em;
}
.aboutme-container {
  margin-right: auto;
  margin-left: 52%;
  height: 140px;
  position: relative;
  .aboutme-img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    position: absolute;
    transition: width 1s, height 1s;
    bottom: 0;
    overflow: hidden;
    img {
      height: 155%;
      width: 155%;
      bottom: -20px;
      right: -24px;
      position: absolute;
      object-fit: cover;
    }
  }
  .nav-title-aboutme {
    opacity: 0;
  }
  &:hover {
    .nav-title-aboutme {
      transition: margin-left 1s, opacity 3s;
      margin-left: 220px;
      opacity: 1;
    }
    .aboutme-img {
      width: 12.5em;
      height: 12.5em;
      img {
        transition: height 2s, width 2s, bottom 2s, right 2s;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
      }
    }
  }
}
.main-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cv-container {
  width: 16em;
  height: 14em;
  position: relative;
  .cv-img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    position: absolute;
    transition: width 1s, height 1s;
    right: 0;
    bottom: 0;
    overflow: hidden;
    img {
      height: 160%;
      width: 160%;
      object-fit: cover;
      margin-top: -2em;
      margin-left: -1em;
    }
  }
  .nav-title-cv {
    opacity: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
  &:hover {
    .nav-title-cv {
      transition: margin-right 1s, margin-bottom 1s, opacity 3s;
      margin-right: 50px;
      margin-bottom: 200px;
      opacity: 1;
    }
    .cv-img {
      width: 10em;
      height: 10em;
      img {
        transition : height 2s, width 2s, margin-left 2s;
        height: 120%;
        width: 120%;
        margin-left: 0;
      }
    }
  }
}

.name-margin {
  margin: 0 4em 4em;
  position: relative;
  .logo-opacity {
    width: 39em;
    height: 39em;
    top: 0;
    margin-top: -258px;
    opacity: .1;
    position: absolute;
    margin-left: -9em;
    z-index: -1;
  }
  .logo-responsive {
    display: none;
  }
}
.nav-responsive {
  display: none;
}
.name-container {
  width: 430px;
  h1 {
    font-family: 'Poppins ExtraBold';
    font-size: 3.5em;
    background: -webkit-linear-gradient(45deg, #3239FF, #8BB6FF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
  p {
    font-family: 'Poppins';
    font-style: italic;
    color: #161616;
    font-size: 1em;
    margin: 0 0 0 32%;
  }
}

.projets-container {
  width: 25em;
  margin-bottom: 140px;
  position: relative;
  .projets-img {
    width: 17em;
    height: 17em;
    border-radius: 50%;
    position: absolute;
    transition: width 1s, height 1s;
    overflow: hidden;
    img {
      height: 100%;
      width: 145%;
      object-fit: cover;
      margin-left: -7em;
    }
  }
  .nav-title-projets {
    opacity: 0;
  }
  &:hover {
    .nav-title-projets {
      transition: margin-left 1s, opacity 3s;
      margin-left: 17em;
      opacity: 1;
    }
    .projets-img {
      width: 21em;
      height: 21em;
      img {
        transition: margin-left 2s;
        margin-left: 0em;
      }
    }
  }
}
.contact-container {
  margin-right: 43%;
  margin-left: auto;
  position: relative;
  width: 20em;
  height: 12em;
  margin-top: -40px;
  .contact-img {
    width: 11.5em;
    height: 11.5em;
    border-radius: 50%;
    position: absolute;
    transition: width 1s, height 1s;
    overflow: hidden;
    img {
      height: 356%;
      width: 356%;
      object-fit: cover;
      margin-left: -19em;
      margin-top: -4em;
    }
  }
  .nav-title-contact {
    opacity: 0;
  }
  &:hover {
    .nav-title-contact {
      transition: margin-left 1s, opacity 3s;
      margin-left: 250px;
      opacity: 1;
    }
    .contact-img {
      width: 14.5em;
      height: 14.5em;
      img {
        transition: margin-top 2s, margin-left 2s;
        margin-left: -25em;
        margin-top: -14em;
      }
    }
  }
}

.about-me {
  margin: 6em 4em 15em;
  padding-top: 6em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .about-me-img-responsive {
    display: none;
  }
  img {
    width: 22em;
  }
}

.about-me-description {
  margin: 60px 0 0 60px;
  h2 {
    font-family: 'Poppins ExtraBold';
    font-size: 3.5em;
    color: #16161615;
    span {
      text-transform: uppercase;
    }
  }
  p {
    font-family: 'Poppins';
    color: #161616;
    font-size: 1em;
  }
}

.projects-main-container {
  margin-left: 5vw;
  margin-bottom: 12em;
  padding-top: 2em;
  h2 {
    font-family: 'Poppins ExtraBold';
    font-size: 3.5em;
    color: #16161615;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects {
  margin-right: 2em;
  margin-bottom: 2em;
  width: 17em;
  height: 17em;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 0px 26px 0px rgba(197,209,219,1);
  -moz-box-shadow: 1px 0px 26px 0px rgba(197,209,219,1);
  box-shadow: 1px 0px 26px 0px rgba(197,209,219,1);
  .project-description {
    position: absolute;
    padding-left: 20px;
    color: white;
    .project-description-placement {
      bottom: 1em;
      position: absolute;
      opacity: 0;
      width: 80%;
      h3 {
        font-family: 'Poppins ExtraBold';
        font-size: 1.2em;
      }
      p {
        font-family: "Poppins";
        font-size: 0.8em;
      }
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .bck-color-1 {
    background-color: #188546;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .bck-color-2 {
    background-color: #C51162;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .bck-color-3 {
    background-color: #3239FF;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .bck-color-4 {
    background-color: #d1a31b;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .bck-color-5 {
    background-color: #F57C00;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .bck-color-6 {
    background-color: #8BB6FF;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .bck-color-1 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .bck-color-2 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .bck-color-3 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .bck-color-4 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .bck-color-5 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .bck-color-6 {
      transition: opacity 1s;
      opacity: 0.9;
    }
    .project-description-placement {
      transition: opacity 1s;
      opacity: 1;
    }
  }
}

#contact {
  margin: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: 'Poppins ExtraBold';
    font-size: 3.5em;
    color: #16161615;
  }
  form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins SemiBold';
    color: #161616;
    text-transform: uppercase;
    font-size: 0.7em;
    input {
      margin-bottom: 1.5em;
      width: 25em;
      border-radius: 2px;
      border: 1px solid #16161630;
      height: 2em;
    }
    .submit {
      border: none;
      font-family: "Poppins";
      background-color: #8BB6FF;
      color: white;
      height: 2.5em;
      margin: 1.5em 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1261px) {
  .about-me {
    img {
      width: 30em;
    }
  }
  .about-me-description {
    margin: 60px 0 90px 60px;
  }
}

@media (max-width: 1260px) { 
  .nav-title {
    font-size: 1em;
  }
  .name-margin {
    margin: 0 3em 3em;
    .name-container {
      width: 382px;
      h1 {
        font-size: 3.3em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }
  .aboutme-container {
    .aboutme-img {
      width: 8em;
      height: 8em;
    }
    &:hover {
      .nav-title-aboutme {
        transition: margin-left 1s, opacity 3s;
        margin-left: 190px;
        opacity: 1;
      }
      .aboutme-img {
        width: 10.5em;
        height: 10.5em;
      }
    }
  }
  .projets-container {
    .projets-img {
        width: 15em;
        height: 15em;
        img {
          margin-left: -6em;
        }
    }
    &:hover {
      .nav-title-projets {
        margin-left: 15em;
        margin-top: -2em;
      }
      .projets-img {
        width: 19em;
        height: 19em;
      }
    }
  }
  .contact-container {
    .contact-img {
      width: 9.5em;
      height: 9.5em;
      img {
        margin-left: -16em;
      }
    }
    &:hover {
      .nav-title-contact {
        margin-left: 220px;
      }
      .contact-img {
        width: 12.5em;
        height: 12.5em;
        img {
          margin-left: -22em;
          margin-top: -12em;
        }
      }
    }
  }
  .cv-container {
    .cv-img {
      width: 7em;
      height: 7em;
    }
    &:hover {
      .nav-title-cv {
        margin-right: 20px;
        margin-top: 2em;
      }
      .cv-img {
        width: 9em;
        height: 9em;
        img {
          width: 125%;
          height: 125%;
        }
      }
    }
  }
  .projects-main-container {
    .projects {
      width: 13em;
      height: 13em;
    }
  }
}

@media (max-width: 992px) {
  * {
    margin: 0;
    padding: 0; 
  }
  .aboutme-container {
    display: none;
  }
  .projets-container {
    display: none;
  }
  .contact-container {
    display: none;
  }
  .cv-container {
    display: none;
  }
  .home {
    background-image: url(./img/bckg-responsive.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  nav {
    display: none;
  }

  .main-part {
    display: flex;
    flex-direction: column;
  }

  .name-margin {
    margin-top: 3em;
    .logo-opacity {
      display: none;
    }
    .logo-responsive {
      display: block;
      width: 8em;
      height: 9em;
      margin-bottom: -73px;
      top: 0;
      margin-top: -83px;
      opacity: .5;
      position: absolute;
    }
    .name-container {
      h1 {
        background: none;
        -webkit-text-fill-color: white;
      }
      p {
        color: white;
        margin: 0.5em 0 1em;
        text-align: center;
      }
    }
  }
  .nav-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins SemiBold';
    text-transform: uppercase;
    font-size: 1em;
    a {
      color: white;
    }
    .nav-responsive-line {
      width: 10em;
      height: 0.15em;
      background-color: white;
      margin: 1em 0;
    }
  }
  .about-me {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6em;
    .about-me-img {
      display: none;
    }
    .about-me-img-responsive {
      display: flex;
    }
    .about-me-description {
      margin-left: 0;
      margin-top: -7em;
      h2 {
        width: max-content;
        color: #fff;
        text-shadow: #16161660 0 0 28px;
        padding-left: 10vw;
        padding-top: 6vh;
      }
      p {
        padding-top: 2em;
      }
    }
  }

  .projects-main-container {
    h2 {
      margin: 1em 0;
    }
    .projects-container{
      .projects {
        .project-description {
          .project-description-placement {
            width: 75%;
            h3 {
              font-size: 1em;
            }
          }
        }

        .bck-color-1 {
          display: none;
        }
        .bck-color-2 {
          display: none;
        }
        .bck-color-3 {
          display: none;
        }
        .bck-color-4 {
          display: none;
        }
        .bck-color-5 {
          display: none;
        }
        .bck-color-6 {
          display: none;
        }

      }
    }
  }
}

@media (max-width: 750px) {
  .projects-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    .projects-container {
      justify-content: center;
      .projects {
        width: 10em;
        height: 10em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
  .about-me {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

@media (max-width: 500px) {
  .home {
    justify-content: flex-start;
    background-position: 22%;
    .main-part {
      padding-top: 9em;
    }
  }
  .name-margin {
    margin-top: 0;
    .logo-responsive {
      width: 6em;
      height: 8.8em;
      padding-left: 0.5em;
    }
    .name-container {
      width: 17em;
      h1 {
        font-size: 2em;
        text-align: center;
      }
    }
  }

  .about-me {
    margin: 6em 4vw 6em;
  }

  .projects-main-container {
    .projects-container {
      .projects {
        width: 7em;
        height: 7em;
      }
    }
  }

  #contact {
    form {
      input {
        width: 85vw;
      }
    }
  }
}